main {
    width: 100%;
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    animation: slideIn 1.0s ease-out;
    border: 2px solid #f6f0a6;
    border-radius: 20px;
    padding: 100px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.topo-do-site {
    padding: 40px 4%;
    margin-top: 60px;
}


.coluna {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.coluna h1 {
    color: #f6f0a6;
    font-size: 35px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

@media screen and (max-width: 1380px) {
    .flex {
        flex-direction: column-reverse;
        padding: 12%;
    }

    .topo-do-site {
        margin-top: 0px;
        padding-top: 0%;
    }

    .coluna h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    .flex {
        gap: 0px;
    }
}