{% include 'virttus_app/base.html' %}

{% load static %}

{% block cabecalho %}
    <link rel="stylesheet" href="{% static 'virttus_app/servicos/css/servicos.css' %}">
{% endblock cabecalho %}

{% block conteudo %}
<main>
    <section class="topo-do-site">
        <div class="interface">
            <div class="flex">
                <div class="coluna">
                    <h1>Ortodontia</h1>
                    <h1>Facetas e Resinas</h1>
                </div>
                <div class="coluna">
                    <h1>Prótese</h1>
                    <h1>Implante</h1>
                    <h1>Endodontia</h1>
                </div>
                <div class="coluna">
                    <h1>Cirurgia</h1>
                    <h1>Clareamento</h1>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock conteudo %}
